@tailwind base;
@tailwind components;
@tailwind utilities;

@min768: ~"screen(md)";
:root {
  --primary: #d9be5c;
  --max-mobile-width: 640px;
  --background: #fff;
  --foreground: #000;
  --divider: #dcdcdc;
  --overlay: #888;
  --header-height:0px;
}


/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --divider: #333;
  }
}*/
.bg-background {
  background-color: var(--background);
}
.swiper{
  .swiper-button-next , .swiper-button-prev{
    background:#fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @apply shadow-xl;
    &:after{
      --swiper-navigation-size : 20px;
      color: #000;
      font-weight: 900;
    }
  }
  .swiper-button-disabled{
    display: none!important;
  }
}
[data-slider-stories]{
  .swiper-slide{
    max-width: 90px;
    @apply h-auto flex items-center justify-center;
  }

  .swiper-button-next , .swiper-button-prev{
    width: 32px;
    height: 32px;
  @apply shadow;
    &:after{
      --swiper-navigation-size : 16px;
    }
  }
}
[data-slider-products]{
  .swiper-slide{
    width: 190px;

    @apply  ~"md:w-[300px]" h-auto;
  }
}

.swiper-thumbs{
  .swiper-wrapper{

  }
}

.swiper-small-thumbs{
  --swiper-navigation-size : 28px;
  @apply select-none;
  .swiper-button-next , .swiper-button-prev{
    width: 32px;
    height: 32px;
  @apply shadow;
    &:after{
      --swiper-navigation-size : 16px;
    }
  }
}


body {
  font-size: 14px;
  --bs-border-color: var(--text-gray-300);
  line-height: 1.3;
  background: var(--background);
  color: var(--foreground);

}

html, body {
  font-family: "Inter", sans-serif;

}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline
}

.tabs_{
  @apply  border rounded-xl overflow-hidden border-solid border-gray-200 dark:text-gray-400 dark:border-gray-700;
  .tabs_list{
    @apply flex flex-wrap -mb-px text-center text-sm font-medium text-gray-500;
    .tabs_list_item{
      @apply mr-2;
      .tabs_list_item_text{
        @apply inline-block cursor-pointer px-4 py-3 border-b-2 border-transparent rounded-t-lg border-solid hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300;
      }
      &.active{
        .tabs_list_item_text{
          @apply text-blue-600 border-gray-100;
        }
      }
    }
  }
  .tabs_content{
    @apply p-4;
  }
}
.alert_{
  --btn-background: theme("colors.gray.100");
  --btn-hover-bg: theme("colors.gray.100");
  --btn-color: #222;

  background: var(--btn-background);
  color: var(--btn-color);
  @apply px-4 py-3 rounded-xl transition-all flex gap-2 items-center;

  .alert_text{
    @apply text-sm;
  }
  .alert_icon{
    --ggs: 0.8;
  }

  &.alert_xs{
    @apply px-3 py-2;
    .alert_text{
      @apply text-xs;
    }
  }


}
.dropdown_{
  @apply relative;
  .dropdown_trigger{
    @apply inline-block;
    &.dt-active{
      .btn_{
        --btn-background: theme("colors.gray.100");
        &.btn_right_chevron {
          &:after{
          @apply rotate-180;
          }
        }
      }
    }
  }
  .dropdown_content{
    @apply absolute hidden top-full left-0  z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44;
    .dc_items_list{
      @apply py-2 text-sm text-gray-700 ;
      .dc_item{
        a{
          @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
        }
      }

    }
  }
  .dc-active{
    @apply block;
  }
}
.badge_{
  --badge-background: theme("colors.gray.200");
  --badge-hover-bg: theme("colors.gray.100");
  --badge-color: theme("colors.gray.800");

  background: var(--badge-background);
  color: var(--badge-color);

  &.badge_rose{
    --badge-background: theme("colors.rose.200");
    --badge-color: theme("colors.rose.800");
  }
  @apply text-xs font-medium py-1 px-2 rounded;
}
.btn_ {
    --btn-background: theme("colors.gray.100");
    --btn-hover-bg: theme("colors.gray.200");
    --btn-color: #222;
    --btn-badge-background: theme("colors.gray.400");
    --btn-badge-color: theme("colors.gray.100");

    --btn-height:2.5em;
    --btn-badge-size:1.3em;

    background: var(--btn-background);
    color: var(--btn-color);
    height: var(--btn-height);
    @apply px-4 rounded-xl inline-flex items-center justify-center transition-all cursor-pointer relative;

    &.btn_no_hover{
      @apply !px-0;
      --btn-hover-bg: transparent!important;

    }
    &.btn_icon{
      width: var(--btn-height);
      @apply aspect-square !px-0 !text-base;
    }
    &.btn-icon-between{
      @apply !justify-between;
    }
    &.btn_start{
      @apply !justify-start;
    }
    &.btn_left_icon{
      @apply gap-2;
    }
    &.btn_sm{
      --btn-height:2.2em;
      @apply px-3 text-sm;
      &.btn_right_chevron{
        &:after{
          width: 16px;
          height: 16px;
          background-size: 1rem;
        }
      }
    }
    &.btn_xs{
    --btn-height:1.9em;
    --btn-badge-size:1.2em;
    @apply px-2 text-xs;
      &.btn_right_chevron{
        &:after{
          width: 16px;
          height: 16px;
          background-size: 1rem;
        }
      }
    }
    &.btn_primary {
        --btn-background: theme("colors.primary.600");
        --btn-hover-bg: theme("colors.primary.700");
        --btn-color: theme("colors.white");
    }
    &.btn_blue {
      --btn-background: theme("colors.blue.600");
      --btn-hover-bg: theme("colors.blue.700");
      --btn-color: theme("colors.white");
    }
    &.btn_transparent {
    --btn-background: transparent;
    --btn-hover-bg: theme("colors.gray.100");
    --btn-color: theme("colors.gray.800");
        &.btn_active{
          --btn-background:  theme("colors.gray.200");
          --btn-hover-bg: theme("colors.gray.200");
          --btn-color: theme("colors.gray.800");
        }
        &:hover {
          background: var(--btn-hover-bg);
        }
    }

    &.btn_bho {
        @apply text-primary-600 border-2 bg-transparent border-primary-600 border-solid rounded-full;
    }
    &.btn-text-right{
      @apply text-right justify-end;
    }
    &.btn-text-left{
      @apply text-left justify-start;
    }
    &.btn_full{
      @apply w-full;
    }
    &.btn_right_chevron {
      &:after{
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        margin-left: auto;
        content: "";
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-size: 1.25rem;
        transition: transform 0.2s ease-in-out;
        @apply ml-1;
      }
    }
    &.collapsed{
      &.btn_right_chevron {
        &:after{
          @apply rotate-0;
        }
      }
    }
    &.btn_badge_primary{
      --btn-badge-background: theme("colors.primary.500");
      --btn-badge-color: theme("colors.primary.100");
    }
  .btn_badge{
      background: var(--btn-badge-background);
      color: var(--btn-badge-color);
      width: var(--btn-badge-size) ;
      height: var(--btn-badge-size) ;
      @apply absolute -right-1 -top-1 text-xxs rounded-xl inline-flex items-center justify-center shadow;

    }
  &:hover{
    background-color: var(--btn-hover-bg);
  }
}
.form_input_{
  @apply flex flex-col gap-1 w-full;
  label{
    @apply text-s text-gray-500 px-1 font-medium;
  }
}
.input_{

  --input-background:  theme("colors.gray.50");
  --input-color: theme("colors.gray.900");
  --input-border-color: theme("colors.gray.300");

  &:not([type='checkbox']):not([type='radio']){
    background-color: var(--input-background);
    color: var(--input-color);
    border-color: var(--input-border-color);
    @apply border w-full text-sm rounded-lg focus-visible:outline-primary-500 focus:ring-primary-500 focus:border-primary-500 block p-2.5;
    &.input_sm{
      @apply px-3 py-2 text-s;
    }
    &.input_xs{
      @apply px-2 py-1 text-xs rounded-lg;
    }
  }


  &[type='checkbox']{
    width: 1rem;
    height: 1rem;
    color: var(--input-color);
    vertical-align: middle;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    background-color: var(--input-background);
    transition: background 300ms;
    cursor: pointer;
    @apply rounded;
    &.input_primary{
      --input-color:  theme("colors.primary.500");
    }
    &:before{
      content: "";
      color: transparent;
      display: block;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      border: 0;
      background-color: transparent;
      background-size: contain;
      box-shadow: inset 0 0 0 1px  var(--input-border-color);
    }
    &:checked{
      background-color: currentcolor;
    }
    &:checked:before{
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
    }
  }
  &[type='radio']{
    width: 1rem;
    height: 1rem;
    color: var(--input-color);
    vertical-align: middle;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    background-color: var(--input-background);
    transition: background 300ms;
    cursor: pointer;
    @apply rounded-full;
    &.input_primary{
      --input-color:  theme("colors.primary.500");
    }
    &:before{
      content: "";
      color: transparent;
      display: block;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      border: 0;
      background-color: transparent;
      background-size: contain;
      box-shadow: inset 0 0 0 1px  var(--input-border-color);
    }
    &:checked{
      background-color: currentcolor;
    }
    &:checked:before{
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
    }
  }

}
.check_input_{
  @apply flex items-center px-2 cursor-pointer rounded hover:bg-gray-100 dark:hover:bg-gray-600;
  label{
    @apply w-full pl-2 py-1 text-s font-medium text-gray-900 rounded dark:text-gray-300 cursor-pointer;
  }
}

.check_switch_{
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-primary: theme("colors.primary.500");;
  @apply cursor-pointer;
  input[type='checkbox']{
    @apply sr-only;
    &:checked + .cs_slider{
      background-color: var(--color-primary);
      &:after{
        transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
        box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
      }
    }
    &:checked:active + .cs_slider{
      &:after{
        transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
      }
    }
    &:active + .cs_slider{
      &:after{
        width: var(--toggle-wider);
      }
    }
  }
  .cs_slider{
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
    &:after{
      content: "";
      display: inline-block;
      width: var(--toggle-diameter);
      height: var(--toggle-diameter);
      background-color: #fff;
      border-radius: calc(var(--toggle-diameter) / 2);
      position: absolute;
      top: var(--button-toggle-offset);
      transform: translateX(var(--button-toggle-offset));
      box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
      transition: 0.3s all ease-in-out;
    }
  }
  &.check_switch_filter{
    @apply flex justify-between items-center;
    .cs_title{
      @apply text-sm font-medium;
    }
  }
  &.check_switch_sm{
    --button-width: 2.5em;
    --button-height: 1.5em;
    --toggle-diameter: 1em;
    --toggle-wider: 2em;
  }
}

.btn-check:checked + .btn_ {
    @apply bg-primary-600 text-white border-transparent;
}

.collapse {
  visibility: unset !important;
}
[data-show=false]{
  display: none;
}
.product-rect-content{
  @apply bg-white border border-solid border-gray-100 px-4 py-6 rounded-xl flex flex-col items-center justify-center w-full h-full gap-1;
  &.procut-rect-image{
    @apply !p-0 overflow-hidden w-full h-full;
    img{
      @apply w-full h-full object-cover;
    }
  }
  .prc-title{
    @apply text-xs md:text-sm text-center;
    span{
      @apply line-clamp-2;
    }
  }
  .prc-image{
    @apply aspect-square my-2 md:my-4;
    img{
      @apply w-full h-full object-contain;
    }
  }
  .prc-price{
    @apply flex flex-col items-center justify-center gap-3 w-full;
    span{
      @apply md:text-xl text-primary-600 font-semibold;
    }

    button{
      @media (max-width: 768px) {
        --btn-height:2.2em;
        @apply px-3 text-sm;
      }
    }
  }
  &:hover{
    @apply shadow-sm;
  }
}
.link-href{
  @apply text-blue-500 font-medium hover:underline;
}

header{
  @apply border-b border-solid border-gray-100 px-3 bg-white relative;
  .h-content{
    @apply ~"md:h-[64px]" w-full max-w-6xl gap-3  mx-auto flex items-center justify-between py-2 md:py-0 ;
    .hc-logo{
      @apply flex items-center gap-2;
      .hcl-menu-item{
        @apply md:hidden flex items-center justify-center;
        .hcl-menu-trigger{
          --ggs: .8;
          @apply  text-gray-500;
        }
      }
      img{
        @apply h-8 md:h-12;
      }
    }
    .hc-search{
      @apply relative flex-1 max-w-2xl hidden md:block;
    }

    .hc-right{
      @apply gap-3 items-center hidden md:flex;
    }
    .hc-mobile-right{
    @apply block md:hidden space-x-1;
    }
  }
  .h-mobile-search{
  @apply block md:hidden;
  }
  .h-menus{
    @apply max-w-6xl mx-auto relative md:overflow-visible overflow-x-auto overflow-y-hidden whitespace-nowrap md:whitespace-normal ;
    .h-menu-item{
      @apply border-b-2 cursor-default border-solid transition transition-colors px-2  border-transparent px-2 py-2 inline-block;
      .hm-title{
        @apply font-medium;
      }
      .hm-hover-menu{
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 300ms;
        @apply invisible absolute top-full left-0 max-w-6xl w-full p-3 rounded-b-xl bg-white grid grid-cols-5 shadow z-50;
        h3{
          @apply font-medium text-primary-500;
        }
        a{
          @apply text-sm inline-block;
          &:hover{
            @apply underline;
          }
        }
        .hmh-image-menus{
          @apply col-span-2;
          .hmhim-content{
            @apply grid grid-cols-2 gap-1 mt-2 items-center justify-center;
            img{
              @apply rounded-xl object-contain w-full overflow-hidden;
            }
          }
        }
      }
      &:hover{
        @apply border-primary-500;
        .hm-title{
          @apply text-primary-500;
        }
        .hm-hover-menu{
          opacity: 1;
          transition: visibility 0s linear 0s, opacity 100ms;
          @apply visible;
        }

      }
    }
  }
}
.herousel-content{
  @apply bg-gradient-to-r from-primary-600 to-primary-900 py-8;
  .hc-wrapper{
    @apply max-w-6xl mx-auto px-2 md:px-0;
    .hc-list-menu{
      @apply flex items-center justify-center gap-2 w-full;
      li{
        @apply px-5 py-2 rounded-full cursor-pointer;
        span{
          @apply text-white;
        }
        &:hover{
          @apply bg-white/10;
        }
        &.active{
          @apply bg-white;
          span{
            @apply text-gray-900;
          }
        }
      }
    }
    .hcw-content{
      @apply grid grid-cols-1 mt-4 rounded-2xl overflow-hidden bg-white md:grid-cols-3;
      .hcwc-title{
        @apply  bg-white flex px-12 pb-2 md:pb-0 justify-center flex-col order-2 text-center md:text-left md:order-1;
      }
      .hcwc-image{
        @apply col-span-2 w-full p-2 order-1 md:order-2;
        img{
          @apply object-cover w-full h-full rounded-xl;
        }
      }
    }
  }
}
.main{
  @apply mt-4 flex flex-col gap-4 px-3;
  .m-stories{
    @apply w-full;
    .m-stories-item{
      @apply inline-flex flex-col text-s gap-1 items-center justify-center transition transition-colors font-medium;
      img{
        @apply w-14 h-14 rounded-full;
      }
      span{
      }
      &:hover{
        @apply text-primary-500;
      }
    }
  }
  .m-shop-cart-list{
    @apply grid grid-cols-1 gap-3 md:grid-cols-3 sm:grid-cols-2;
    .mscl-item{
      @apply rounded-xl overflow-hidden inline-flex flex-col;
      .mscl-item-text{
        @apply flex bg-gray-800 text-white px-3 py-2 justify-between items-center transition transition-colors;
        p{
          @apply font-medium text-m flex-1 line-clamp-1;
        }
        span{
          @apply text-xs invisible;
        }
      }
      &:hover{
        .mscl-item-text{
          @apply bg-primary-500;
          span{
            @apply visible;
          }
        }
      }
    }
  }

  .ms-section{
    @apply bg-primary-500/10 rounded-xl p-3;
    .mss-header{
      @apply flex items-center justify-between pb-3 flex-col md:flex-row;
      h1{
        @apply text-xl font-semibold;
      }
      a{
        @apply text-sm font-medium;
        &:hover{
          @apply underline;
        }
      }
    }
  }
  .ms1-section{
    .mss-header{
      @apply flex md:items-end gap-2 pb-3 flex-col md:flex-row;
      h1{
        @apply text-xl md:text-2xl font-semibold;
      }
      a{
      @apply text-sm font-medium text-primary-600;
        &:hover{
          @apply underline;
        }
      }
    }
  }
  .m-shop-product-list{
    @apply grid grid-cols-2 gap-3  md:!grid-cols-3 lg:!grid-cols-4;
    .mspl-item{
      @apply bg-white overflow-hidden border border-solid border-gray-100  rounded-xl flex flex-col;
      .mspli-image{
        @apply h-full w-full ;
        max-height: 200px;
        img{
          @apply object-contain w-full h-full pt-3;
        }
      }
      .mspli-main{
        @apply flex flex-col px-3 py-3 gap-1;
        .mspli-title{
          height: 40px;
          @apply line-clamp-2 text-sm;
          b{
            @apply uppercase;
          }
        }
        .mspli-price{
          height: 20px;
          @apply text-primary-500 font-semibold text-m;
        }
        .mspli-lowest-price{
          height: 15px;
          @apply line-clamp-1;
          span{
            @apply flex line-clamp-1 h-full text-xs gap-2 text-red-600 font-medium;
          }
        }
      }
    }

  }
}
.account-page{
  @apply flex gap-4 relative;
  .ap-als-content{
    width: 220px;
    @apply hidden md:block;
    .ap-alsc-wrapper{
      top: var(--header-height);
      @apply sticky py-2;
    }

  }
  .ap-content{
    @apply flex-1 py-2;
    .ap-title{
      @apply text-xl font-semibold leading-6 text-gray-700 inline-flex items-end gap-1;
    }
    .apc-filters{
      @apply flex flex-wrap gap-3 my-3;
    }
    .apc-orders-page{
      .op-lists{
        .opl-item{
          @apply border border-solid border-gray-200 rounded-xl overflow-hidden;
          .opl-item-header{
            @apply bg-gray-100 px-3 py-2 flex items-center gap-2;
            .oplh-item{
              gap:.15rem;
              @apply flex-col w-full;

              &:not(.oplh-i-hd){
                @apply flex;
              }
              &.oplh-i-hd{
                @apply hidden md:flex;
              }
              span{
                @apply text-xs text-gray-500 font-medium;
              }
              b{
                @apply text-xs font-medium text-zinc-800;
              }
            }
          }
          .opl-item-main{
            @apply p-2;
            .opli-product-lists{
              @apply flex flex-col gap-3;
              .opli-product-item{
                @apply border border-solid border-gray-200 rounded-xl p-4 flex justify-between items-center;
                .opli-pi-infos{
                  @apply flex items-center  sm:flex-row gap-2;
                  .opli-pi-images{
                    width: 40px;
                    img{
                      @apply w-10 h-10 border-2 border-solid border-gray-100 rounded-full object-cover;
                    }
                  }
                  .opli-pi-product{
                    @apply flex flex-col gap-1 flex-1 text-xs;
                    .opli-pip-title{
                      @apply text-gray-500 hover:underline line-clamp-1;
                    }
                    .opli-pip-alt{
                      @apply text-emerald-500 flex md:items-center gap-1 flex-col sm:flex-row;
                    }
                  }
                }
                .opli-pi-price{
                  @apply flex flex-col text-right;
                }
              }
            }
          }
        }
      }
    }
    .apc-coupon-page{
      .apc-cp-lists{
        @apply flex flex-col gap-2 mt-3;
        .apc-cp-item{
          @apply bg-gradient-to-br from-purple-600 to-indigo-600 text-white text-center py-6 rounded-xl shadow-md relative;
          .apc-cp-item-image{
            @apply w-36 mx-auto mb-4 rounded-lg;
          }
          .apc-cp-item-title{
            @apply text-lg md:text-2xl font-semibold mb-4;
          }
          .apc-cp-item-coupon{
            @apply flex items-center justify-center space-x-2 mb-6;
            .apc-cp-item-coupon-code{
              @apply border-dashed border border-primary-400 text-white px-4 py-2 rounded-xl;
            }
          }
        }
      }
    }
    .apc-setting-page{
      .apc-sp-content{
        @apply border rounded-xl border-solid border-gray-200 flex flex-col md:flex-row mt-3;
        .apc-sp-infos-title{
        @apply text-lg font-medium text-primary-500;
        }
        .apc-sp-user-infos{
          @apply flex-1 p-4 border-b md:border-b-0 md:border-r border-solid border-gray-200;

        }
        .apc-sp-user-password{
          @apply flex-1 p-4;

        }
      }

    }
  }
}
.auth-page{
  @apply flex flex-col items-center justify-center mx-auto max-w-md w-full lg:py-0;
  .ap-content{
    @apply w-full bg-white rounded-lg shadow p-6;
    .apc-logo{
      @apply flex items-center justify-center mb-6;
      img{
        @apply w-40;
      }
    }
  }
}
.my-account-page{
  .my-ap-header{
    @apply bg-white py-2 flex items-center gap-2;
    .my-aph-texts{
      h3{
        @apply font-medium text-gray-600;
      }
      span{
        @apply text-s text-gray-500;
      }
    }
  }
}
.basket-page{
  @apply flex gap-4 relative;
  .bp-overlay{
    @apply hidden;
  }
  &.bp_mobile_box{
    .bp-overlay{
      @apply fixed top-0 left-0 bg-black/50 w-full h-full block z-10 md:hidden;
    }

    .bp_summary_bill{
      @media (max-width: 768px) {
        @apply !opacity-100 !bottom-full;
      }
    }
    .bps_cat_icon{
      @apply !rotate-0;
    }
  }

  .bp-content{
    @apply flex-1;
    .bpc-product-list{
      @apply border border-gray-200 border-solid rounded-xl shadow;
      .bpc-product-list-item{
        @apply flex gap-2 items-center px-4 py-3 border-b border-solid border-gray-100;
        .bpc-product-check-image{
          @apply flex gap-3 items-center;
          .bpc-product-image{
            @apply h-20 w-20 flex items-center justify-center md:h-28 md:w-28;
            img{
              @apply object-contain h-full border border-solid border-gray-200 rounded-xl;
            }
          }

        }
        .bpc-product-infos{
          @apply flex-1 h-full flex flex-col justify-between h-20 md:h-28;
        }
        &:last-child{
          @apply border-transparent;
        }
      }
    }
  }
  .bp-summary{
    @apply ~"md:w-[220px]"  md:block;
    @media (max-width: 768px) {
      @apply w-full left-0 fixed bottom-0 bg-white  z-20;
    }
    .bps_content{
      top: var(--header-height);
      @apply sticky flex flex-col gap-3;
      .bps_c_approve{
        @apply flex items-center gap-3 h-20 px-3 relative z-10;
        .bps_ca_total{
          @apply flex items-center gap-1 md:hidden text-sm w-full;
          .bps_cat_icon{
            @apply rotate-180;
          }
        }
      }
    }
    .bp_summary_bill{
      @apply border border-gray-200 border-solid rounded-xl p-3 flex flex-col gap-2;
      @media (max-width: 768px) {
        @apply absolute bottom-0 w-full bg-white rounded-none opacity-0 transition transition-all;
      }
      li{
        @apply w-full text-xs flex justify-between;
        &.bps_total{
          @apply border-t border-solid border-gray-200 pt-2;
          .bps_value{
            @apply text-primary-500;
          }
        }
        .bps_title{
          @apply text-gray-500;
        }
        .bps_value{
          @apply font-medium;
        }
      }
    }
  }
}
.category-page{
  @apply flex gap-4 relative flex-col md:flex-row;
  .cp-mobile-filter{
    @apply flex flex-col md:hidden;
    .cpmf-buttons{
      @apply flex gap-3;
    }
  }
  .cp-filter{
    width: 220px;
    height: calc(100vh - var(--header-height))!important;
    top: var(--header-height);
    @apply sticky hidden md:block;
    .cpf-content{
      @apply border border-solid border-gray-100 h-full flex flex-col overflow-y-auto rounded-xl;
      .cpf-title{
        @apply px-3 py-3 border-b border-solid border-gray-100;
        span{
          @apply text-s text-gray-600;
        }
      }
      .cpf-filters{
        .cpf-item{
          @apply border-b border-solid border-gray-100 py-2 px-3 ;
          .cpfi-title{
            @apply text-s font-medium text-gray-700 inline-block mb-2;
          }
          .cpf-price-range{
            @apply flex gap-2 items-center;
          }
          .cpf-filter-item-lists{
            max-height: 300px;
            @apply overflow-y-auto ;
            .cpffi-item{

            }
          }
        }
      }

    }
  }
  .cp-content{
    @apply flex-1;
  }
}
.product-page{
  .pp-info-content{
    @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-0;
    .ppi-images{
      @apply relative;
      .zoom-selector{
        cursor: crosshair;
        @apply absolute w-16 h-16 rounded-lg bg-black/20 z-10;
      }
      .ppi-zoom-image{
        @apply absolute top-0 left-full ~"max-w-[400px]" w-full z-50 ml-3 rounded-xl bg-white border border-gray-100 border-solid overflow-hidden;
        img{
          @apply ~"h-[350px]" ~"md:h-[500px]" w-full object-contain absolute top-0 left-0 z-50 max-w-none;
        }
      }
      [data-swiper-small-thumbs]{
        @apply hidden md:block;
      }
      [data-swiper-thumbs]{
        @apply border border-solid border-gray-100 rounded-xl select-none;
        .swiper-wrapper{

          .swiper-slide{
            img{
              @apply ~"h-[350px]" ~"md:h-[500px]" w-full object-contain;
            }
          }
        }
      }
      .ppi-small-images{
        .ppi-si-item{
          @apply w-16 aspect-square border-2 cursor-pointer border-solid border-gray-100 rounded-xl overflow-hidden;
          &.swiper-slide-thumb-active{
            @apply border-primary-400;
          }
          img{
            @apply w-full h-full object-contain;
          }
        }
      }
    }

    .ppi-infos{
      @apply flex flex-col gap-3 md:px-4;
      .ppi-title{
        @apply text-xl tracking-tight text-gray-600 font-medium;
      }
      .ppi-price-rating{
        @apply flex justify-between ;
        .ppipr-price{
          @apply text-2xl md:text-3xl text-primary-500 font-semibold tracking-tight;
          small{
            @apply text-base md:text-xl;
          }
        }
        .ppipr-stars{
          @apply flex flex-col items-end gap-1;
          .rating{
            font-size: .2em;
            .star{
              width: 16px;
              height: 16px;
            }
          }
          a{
            @apply text-xs font-medium text-gray-400 hover:text-blue-500;
          }
        }
      }

      .ppi-df-title{
      @apply text-sm font-semibold text-gray-600 ;
      }
      .ppi-filter-colors{

        .ppi-fc-list{
          @apply flex gap-2 mt-2;
          li{
            a{
              aspect-ratio: 9/16;
              @apply w-12 bg-white cursor-pointer flex border-2 border-solid border-gray-100 items-center justify-center rounded-xl overflow-hidden;
              &.active{
              @apply border-primary-500;
              }
            }

          }
        }
      }
      .ppi-basket-favorite{
        @apply flex gap-3;
      }
    }
  }
}
.d-breadcrumb{
  @apply flex;
  .dbc-list{
    @apply inline-flex items-center;
    .dbc-item{
      @apply inline-flex items-center;
      &[aria-current='page']{
        .dbc-item-text{
          @apply font-semibold;
        }
      }
      .dbc-item-content{
        @apply flex items-center;
        i{
          @apply text-gray-500;
        }
      }
      a{
        @apply hover:text-blue-600;
      }
      .dbc-item-text{
        @apply inline-flex items-center text-s font-medium text-gray-600;

      }
    }
  }
}

.rating {
  direction: rtl;
  font-size: .5em;
  text-align: left;
  &.rating_sm{
    font-size: .2em;
    .star{
      width: 16px;
      height: 16px;
    }
  }
  .star {
    background-image: url('data:image/svg+xml, <svg fill="gray" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:hover{
      background-image: url('data:image/svg+xml, <svg fill="goldenrod" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
    }
    &:hover,
    &:hover ~ .star,
    &.selected,
    &.selected ~ .star {
      background-image: url('data:image/svg+xml, <svg fill="goldenrod" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
    }
  }
}
footer{
  @apply bg-gray-800 text-white border-t border-solid border-gray-100 mt-3 ;
  .f-content{
    @apply px-3 md:px-0;
    .fc-wrapper{
      @apply grid grid-cols-1 px-3 sm:grid-cols-2 gap-8 max-w-6xl mx-auto  py-6 lg:py-8 md:!grid-cols-4 text-center md:text-left;
      .fcw-item{
        img{
          @apply mx-auto md:mx-0;
        }
      }
    }
  }
}



.slide-menu {
  position: fixed;
  -webkit-transform: translateX(-315px);
  -ms-transform: translateX(-315px);
  transform: translateX(-315px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  background: #fff;
  top:0;
  bottom: 0;
  color: #333;
  z-index: 9999;
  width: 280px;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
  box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.25);
  &.slide-left {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 99999;
  }
}

.slider-overlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  z-index: 99;
}
.slide-left~.slider-overlay {
  background-color: rgba(0,0,0,.5);
  visibility: visible;
}
