@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #d9be5c;
  --max-mobile-width: 640px;
  --background: #fff;
  --foreground: #000;
  --divider: #dcdcdc;
  --overlay: #888;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --divider: #333;
  }
}*/
.bg-background {
  background-color: var(--background);
}
body {
  font-size: 14px;
  --bs-border-color: var(--text-gray-300);
  line-height: 1.3;
  background: var(--background);
  color: var(--foreground);
}
html,
body {
  font-family: "Inter", sans-serif;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.tabs_ {
  @apply border rounded-xl overflow-hidden border-solid border-gray-200 dark:text-gray-400 dark:border-gray-700;
}
.tabs_ .tabs_list {
  @apply flex flex-wrap -mb-px text-center text-sm font-medium text-gray-500;
}
.tabs_ .tabs_list .tabs_list_item {
  @apply mr-2;
}
.tabs_ .tabs_list .tabs_list_item .tabs_list_item_text {
  @apply inline-block cursor-pointer px-4 py-3 border-b-2 border-transparent rounded-t-lg border-solid hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300;
}
.tabs_ .tabs_list .tabs_list_item.active .tabs_list_item_text {
  @apply text-blue-600 border-gray-100;
}
.tabs_ .tabs_content {
  @apply p-4;
}
.alert_ {
  --btn-background: theme("colors.gray.100");
  --btn-hover-bg: theme("colors.gray.100");
  --btn-color: #222;
  background: var(--btn-background);
  color: var(--btn-color);
  @apply px-4 py-3 rounded-xl transition-all flex gap-2 items-center;
}
.alert_ .alert_text {
  @apply text-sm;
}
.alert_ .alert_icon {
  --ggs: 0.8;
}
.alert_.alert_xs {
  @apply px-3 py-2;
}
.alert_.alert_xs .alert_text {
  @apply text-xs;
}
.btn_ {
  --btn-background: theme("colors.gray.200");
  --btn-hover-bg: theme("colors.gray.100");
  --btn-color: #222;
  background: var(--btn-background);
  color: var(--btn-color);
  @apply px-4 py-3 rounded-xl inline-flex items-center justify-center transition-all cursor-pointer;
}
.btn_.btn-icon-between {
  @apply !justify-between;
}
.btn_.btn_primary {
  --btn-background: theme("colors.primary.600");
  --btn-color: theme("colors.white");
}
.btn_.btn_transparent {
  --btn-background: transparent;
  --btn-color: theme("colors.gray.800");
}
.btn_.btn_transparent:hover {
  background: var(--btn-hover-bg);
}
.btn_.btn_bho {
  @apply text-primary-600 border-2 bg-transparent border-primary-600 border-solid rounded-full;
}
.btn_.btn-text-right {
  @apply text-right justify-end;
}
.btn_.btn-text-left {
  @apply text-left justify-start;
}
.btn_.btn_full {
  @apply w-full;
}
.btn_.btn_right_chevron:after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  @apply rotate-180;
}
.btn_.collapsed.btn_right_chevron:after {
  @apply rotate-0;
}
.btn-check:checked + .btn_ {
  @apply bg-primary-600 text-white border-transparent;
}
.collapse {
  visibility: unset !important;
}
[data-show=false] {
  display: none;
}
.product-rect-content {
  max-height: 400px;
  @apply bg-white border border-solid border-gray-100 px-4 pt-6 pb-0 rounded-xl flex flex-col items-center justify-center w-full h-full gap-1;
}
.product-rect-content.procut-rect-image {
  @apply !p-0 overflow-hidden;
}
.product-rect-content.procut-rect-image img {
  @apply w-full h-full object-cover;
}
.product-rect-content .prc-title {
  @apply text-sm text-center;
}
.product-rect-content .prc-title span {
  @apply line-clamp-2;
}
.product-rect-content .prc-image {
  @apply aspect-square my-4;
}
.product-rect-content .prc-image img {
  @apply w-full h-full object-contain;
}
.product-rect-content .prc-price {
  @apply flex items-center justify-center pb-6 h-14;
}
.product-rect-content .prc-price span {
  @apply text-xl text-primary-600 font-semibold;
}
.product-rect-content .prc-price button {
  @apply hidden;
}
.product-rect-content:hover {
  @apply shadow-sm;
}
.product-rect-content:hover .prc-price span {
  @apply hidden;
}
.product-rect-content:hover .prc-price button {
  @apply block;
}
header .h-menus {
  @apply max-w-6xl mx-auto relative;
}
header .h-menus .h-menu-item {
  @apply border-b-2 cursor-default border-solid transition transition-colors px-2 border-transparent px-2 py-2 inline-block;
}
header .h-menus .h-menu-item .hm-title {
  @apply font-medium;
}
header .h-menus .h-menu-item .hm-hover-menu {
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  @apply invisible absolute top-full left-0 max-w-6xl w-full p-3 rounded-b-xl bg-white grid grid-cols-5 shadow;
}
header .h-menus .h-menu-item .hm-hover-menu h3 {
  @apply font-medium text-primary-500;
}
header .h-menus .h-menu-item .hm-hover-menu a {
  @apply text-sm inline-block;
}
header .h-menus .h-menu-item .hm-hover-menu a:hover {
  @apply underline;
}
header .h-menus .h-menu-item .hm-hover-menu .hmh-image-menus {
  @apply col-span-2;
}
header .h-menus .h-menu-item .hm-hover-menu .hmh-image-menus .hmhim-content {
  @apply grid grid-cols-2 gap-1 mt-2 items-center justify-center;
}
header .h-menus .h-menu-item .hm-hover-menu .hmh-image-menus .hmhim-content img {
  @apply rounded-xl object-contain w-full overflow-hidden;
}
header .h-menus .h-menu-item:hover {
  @apply border-primary-500;
}
header .h-menus .h-menu-item:hover .hm-title {
  @apply text-primary-500;
}
header .h-menus .h-menu-item:hover .hm-hover-menu {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 100ms;
  @apply visible;
}
.herousel-content {
  @apply bg-gradient-to-r from-primary-600 to-primary-900 py-8;
}
.herousel-content .hc-wrapper {
  @apply max-w-6xl mx-auto;
}
.herousel-content .hc-wrapper .hc-list-menu {
  @apply flex items-center justify-center gap-2 w-full;
}
.herousel-content .hc-wrapper .hc-list-menu li {
  @apply px-5 py-2 rounded-full cursor-pointer;
}
.herousel-content .hc-wrapper .hc-list-menu li span {
  @apply text-white;
}
.herousel-content .hc-wrapper .hc-list-menu li:hover {
  @apply bg-white/10;
}
.herousel-content .hc-wrapper .hc-list-menu li.active {
  @apply bg-white;
}
.herousel-content .hc-wrapper .hc-list-menu li.active span {
  @apply text-gray-900;
}
.herousel-content .hc-wrapper .hcw-content {
  @apply grid grid-cols-3 mt-4 rounded-2xl overflow-hidden bg-white;
}
.herousel-content .hc-wrapper .hcw-content .hcwc-title {
  @apply bg-white flex px-12 justify-center flex-col;
}
.herousel-content .hc-wrapper .hcw-content .hcwc-image {
  @apply col-span-2 w-full p-2;
}
.herousel-content .hc-wrapper .hcw-content .hcwc-image img {
  @apply object-cover w-full h-full rounded-xl;
}
.main {
  @apply mt-4 flex flex-col gap-4;
}
.main .m-stories {
  @apply flex gap-4;
}
.main .m-stories .m-stories-item {
  @apply inline-flex flex-col text-m gap-1 items-center justify-center transition transition-colors font-medium;
}
.main .m-stories .m-stories-item img {
  @apply w-14 h-14 rounded-full;
}
.main .m-stories .m-stories-item:hover {
  @apply text-primary-500;
}
.main .m-shop-cart-list {
  @apply grid grid-cols-3 gap-3;
}
.main .m-shop-cart-list .mscl-item {
  @apply rounded-xl overflow-hidden inline-flex flex-col;
}
.main .m-shop-cart-list .mscl-item .mscl-item-text {
  @apply flex bg-gray-800 text-white px-3 py-2 justify-between items-center transition transition-colors;
}
.main .m-shop-cart-list .mscl-item .mscl-item-text p {
  @apply font-medium text-m flex-1 line-clamp-1;
}
.main .m-shop-cart-list .mscl-item .mscl-item-text span {
  @apply text-xs invisible;
}
.main .m-shop-cart-list .mscl-item:hover .mscl-item-text {
  @apply bg-primary-500;
}
.main .m-shop-cart-list .mscl-item:hover .mscl-item-text span {
  @apply visible;
}
.main .ms-section {
  @apply bg-primary-500/10 rounded-xl p-3;
}
.main .ms-section .mss-header {
  @apply flex items-center justify-between pb-3;
}
.main .ms-section .mss-header h1 {
  @apply text-xl font-semibold;
}
.main .ms-section .mss-header a {
  @apply text-sm font-medium;
}
.main .ms-section .mss-header a:hover {
  @apply underline;
}
.main .ms1-section .mss-header {
  @apply flex items-end gap-2 pb-3;
}
.main .ms1-section .mss-header h1 {
  @apply text-2xl font-semibold;
}
.main .ms1-section .mss-header a {
  @apply text-sm font-medium text-primary-600;
}
.main .ms1-section .mss-header a:hover {
  @apply underline;
}
.main .m-shop-product-list {
  @apply grid grid-cols-4 gap-3;
}
.main .m-shop-product-list .mspl-item {
  @apply bg-white overflow-hidden border border-solid border-gray-100 rounded-xl flex flex-col;
}
.main .m-shop-product-list .mspl-item .mspli-image {
  @apply h-full w-full;
  max-height: 200px;
}
.main .m-shop-product-list .mspl-item .mspli-image img {
  @apply object-contain w-full h-full pt-3;
}
.main .m-shop-product-list .mspl-item .mspli-main {
  @apply flex flex-col px-3 py-3 gap-1;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-title {
  height: 40px;
  @apply line-clamp-2 text-sm;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-title b {
  @apply uppercase;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-price {
  height: 20px;
  @apply text-primary-500 font-semibold text-m;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-lowest-price {
  height: 15px;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-lowest-price span {
  @apply flex line-clamp-1 text-xs gap-2 text-red-600 font-medium;
}
.product-page .pp-info-content {
  @apply grid grid-cols-2;
}
.product-page .pp-info-content .ppi-images .ppi-image {
  height: 600px;
  @apply p-2 border border-solid border-gray-100 rounded-xl overflow-hidden;
}
.product-page .pp-info-content .ppi-images .ppi-image img {
  @apply h-full w-full object-contain;
}
.product-page .pp-info-content .ppi-images .ppi-small-images {
  @apply flex gap-2 justify-center;
}
.product-page .pp-info-content .ppi-images .ppi-small-images li {
  @apply w-16 aspect-square border-2 cursor-pointer border-solid border-gray-100 rounded-xl overflow-hidden;
}
.product-page .pp-info-content .ppi-images .ppi-small-images li.active {
  @apply border-primary-400;
}
.product-page .pp-info-content .ppi-images .ppi-small-images li img {
  @apply w-full h-full object-contain;
}
.product-page .pp-info-content .ppi-infos {
  @apply flex flex-col gap-3 px-4;
}
.product-page .pp-info-content .ppi-infos .ppi-title {
  @apply text-xl tracking-tight text-gray-600 font-medium;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating {
  @apply flex justify-between;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-price {
  @apply text-3xl text-primary-500 font-semibold tracking-tight;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-price small {
  @apply text-xl;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-stars {
  @apply flex flex-col items-end gap-1;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-stars a {
  @apply text-xs font-medium text-gray-400 hover:text-blue-500;
}
.product-page .pp-info-content .ppi-infos .ppi-df-title {
  @apply text-sm font-semibold text-gray-600;
}
.product-page .pp-info-content .ppi-infos .ppi-filter-colors .ppi-fc-list {
  @apply flex gap-2 mt-2;
}
.product-page .pp-info-content .ppi-infos .ppi-filter-colors .ppi-fc-list li {
  aspect-ratio: 9/16;
  @apply w-12 bg-white cursor-pointer flex border-2 border-solid border-gray-100 items-center justify-center rounded-xl overflow-hidden;
}
.product-page .pp-info-content .ppi-infos .ppi-filter-colors .ppi-fc-list li.active {
  @apply border-primary-500;
}
.product-page .pp-info-content .ppi-infos .ppi-basket-favorite {
  @apply flex gap-3;
}
.d-breadcrumb {
  @apply flex;
}
.d-breadcrumb .dbc-list {
  @apply inline-flex items-center;
}
.d-breadcrumb .dbc-list .dbc-item {
  @apply inline-flex items-center;
}
.d-breadcrumb .dbc-list .dbc-item[aria-current='page'] .dbc-item-text {
  @apply font-semibold;
}
.d-breadcrumb .dbc-list .dbc-item .dbc-item-content {
  @apply flex items-center;
}
.d-breadcrumb .dbc-list .dbc-item .dbc-item-content i {
  @apply text-gray-500;
}
.d-breadcrumb .dbc-list .dbc-item a {
  @apply hover:text-blue-600;
}
.d-breadcrumb .dbc-list .dbc-item .dbc-item-text {
  @apply inline-flex items-center text-s font-medium text-gray-600;
}
.rating {
  direction: rtl;
  font-size: 0.5em;
  text-align: left;
}
.rating .star {
  background-image: url('data:image/svg+xml, <svg fill="gray" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.rating .star:hover {
  background-image: url('data:image/svg+xml, <svg fill="goldenrod" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
}
.rating .star:hover,
.rating .star:hover ~ .star,
.rating .star.selected,
.rating .star.selected ~ .star {
  background-image: url('data:image/svg+xml, <svg fill="goldenrod" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
}
/*# sourceMappingURL=tailwind.css.map */