@tailwind base;
@tailwind components;
@tailwind utilities;
.btn_ {
  --btn-background: theme("colors.default-100");
  --btn-light-color: theme("colors.default-800");
  --btn-hover-bg: hsl(var(--nexlink-default) / 0.1);
  --btn-color: theme("colors.default-foreground");
  --btn-hover-color: theme("colors.default-800");
  --btn-height: theme("height.10");
  --btn-font-size: theme("fontSize.small");
  --btn-radius: theme("borderRadius.medium");
  --btn-badge-size: 1.5em;
  --btn-line-height: theme("lineHeight.tight");
  background: var(--btn-background);
  color: var(--btn-color);
  height: var(--btn-height);
  font-size: var(--btn-font-size);
  border-radius: var(--btn-radius);
  line-height: var(--btn-line-height);
  @apply px-4 inline-flex select-none items-center justify-center transition-all cursor-pointer appearance-none relative whitespace-nowrap gap-2;
}
.btn_:disabled,
.btn_.btn_disabled {
  @apply pointer-events-none opacity-60;
}
.btn_:hover {
  @apply opacity-hover;
}
.btn_.btn_no_hover {
  @apply !px-0;
  --btn-hover-bg: transparent!important;
}
.btn_.btn_icon {
  width: var(--btn-height);
  @apply aspect-square !px-0 !text-base flex-shrink-0;
}
.btn_.btn-icon-between {
  @apply !justify-between;
}
.btn_.btn_start {
  @apply !justify-start;
}
.btn_.btn_blue {
  --btn-background: theme("colors.blue.600");
  --btn-hover-bg: theme("colors.blue.700");
  --btn-color: theme("colors.white");
}
.btn_.btn_bho {
  @apply text-primary-600 border-2 bg-transparent border-primary-600 border-solid rounded-full;
}
.btn_.btn-text-right {
  @apply text-right justify-end;
}
.btn_.btn-text-left {
  @apply text-left justify-start;
}
.btn_.btn_full {
  @apply w-full;
}
.btn_.btn_right_chevron:after {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1rem;
  transition: transform 0.2s ease-in-out;
  @apply ml-1;
}
.btn_.collapsed.btn_right_chevron:after {
  @apply rotate-0;
}
.btn_.btn_badge_primary {
  --btn-badge-background: theme("colors.primary.500");
  --btn-badge-color: theme("colors.primary.100");
}
.btn_ .btn_badge {
  background: var(--btn-badge-background);
  color: var(--btn-badge-color);
  width: var(--btn-badge-size);
  height: var(--btn-badge-size);
  @apply absolute -right-1 -top-1 text-xxs rounded-xl inline-flex items-center justify-center shadow;
}
.btn_primary {
  --btn-background: theme("colors.primary.600");
  --btn-light-color: theme("colors.primary.600");
  --btn-hover-bg: hsl(var(--nexlink-primary) / 0.2);
  --btn-color: theme("colors.primary-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-primary-400/40;
}
.btn_danger {
  --btn-background: theme("colors.danger");
  --btn-light-color: theme("colors.danger");
  --btn-hover-bg: hsl(var(--nexlink-danger) / 0.2);
  --btn-color: theme("colors.danger-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-danger/40;
}
.btn_secondary {
  --btn-background: theme("colors.secondary");
  --btn-light-color: theme("colors.secondary");
  --btn-hover-bg: hsl(var(--nexlink-secondary) / 0.2);
  --btn-color: theme("colors.secondary-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-secondary/40;
}
.btn_warning {
  --btn-background: theme("colors.warning");
  --btn-light-color: theme("colors.warning");
  --btn-hover-bg: hsl(var(--nexlink-warning) / 0.2);
  --btn-color: theme("colors.warning-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-warning/40;
}
.btn_success {
  --btn-background: theme("colors.success");
  --btn-light-color: theme("colors.success");
  --btn-hover-bg: hsl(var(--nexlink-success) / 0.2);
  --btn-color: theme("colors.success-foreground");
  --btn-hover-color: theme("colors.white");
  @apply shadow-success/40;
}
.btn_transparent {
  --btn-background: transparent;
  --btn-hover-bg: theme("colors.gray.100");
  --btn-color: theme("colors.gray.800");
}
.btn_transparent.btn_active {
  --btn-background: theme("colors.gray.200");
  --btn-hover-bg: theme("colors.gray.200");
  --btn-color: theme("colors.gray.800");
}
.btn_transparent:hover {
  background: var(--btn-hover-bg);
}
.btn_bordered {
  border-color: var(--btn-background);
  color: var(--btn-background);
  background-color: transparent;
  @apply border-medium border-solid;
}
.btn_light {
  color: var(--btn-light-color);
  background-color: transparent;
}
.btn_light:hover {
  background-color: var(--btn-hover-bg);
}
.btn_flat {
  color: var(--btn-background);
  background-color: var(--btn-hover-bg);
}
.btn_ghost {
  border-color: var(--btn-background);
  color: var(--btn-background);
  background-color: transparent;
  @apply border-solid;
  @apply border-medium;
}
.btn_ghost:hover {
  background-color: var(--btn-background);
  color: var(--btn-color);
}
.btn_shadow {
  @apply shadow-lg shadow-content1;
}
.btn_lg {
  --btn-radius: theme("borderRadius.large");
  --btn-height: theme("height.12");
  --btn-font-size: theme("fontSize.medium");
  --btn-line-height: theme("lineHeight.normal");
  @apply px-6;
}
.btn_sm {
  --btn-radius: theme("borderRadius.small");
  --btn-height: theme("height.8");
  --btn-font-size: theme("fontSize.tiny");
  --btn-line-height: theme("lineHeight.none");
  @apply px-3;
}
.btn_sm.btn_right_chevron:after {
  width: 16px;
  height: 16px;
  background-size: 1rem;
}
.btn_xs {
  --btn-radius: theme("borderRadius.small");
  --btn-height: theme("height.7");
  --btn-font-size: theme("fontSize.xxs");
  --btn-badge-size: 1.2em;
  --btn-line-height: theme("lineHeight.none");
  @apply px-2;
}
.btn_xs.btn_right_chevron:after {
  width: 16px;
  height: 16px;
  background-size: 1rem;
}
.btn_rounded_full {
  --btn-radius: theme("borderRadius.full");
}
.btn_rounded_lg {
  --btn-radius: theme("borderRadius.large");
}
.btn_rounded_md {
  --btn-radius: theme("borderRadius.medium");
}
.btn_rounded_sm {
  --btn-radius: theme("borderRadius.small");
}
.btn_rounded_none {
  --btn-radius: theme("borderRadius.none");
}
.drawer_ {
  z-index: 99999;
  visibility: hidden;
  --max-width: 500px;
  --max--width: -500px;
  @apply fixed top-0 w-full h-dvh overflow-hidden flex transition-all;
}
.drawer_.drawer_show_md {
  top: var(--header-height);
  @apply md:sticky md:h-dvh md:w-auto md:visible py-2 md:z-0;
}
.drawer_.drawer_show_md .drawer_content {
  @apply md:sticky md:transform-none;
}
.drawer_.drawer_show_md .drawer_content .drawer_content_header {
  @apply md:hidden;
}
.drawer_.drawer_show_md .drawer_content .drawer_content_body {
  @apply md:p-0 md:h-full;
}
.drawer_.drawer_show_md:after {
  @apply md:content-none;
}
.drawer_:not(.drawer_right) {
  @apply left-0;
}
.drawer_:not(.drawer_right) .drawer_content {
  @apply left-0;
}
.drawer_.drawer_right .drawer_content {
  -webkit-transform: translateX(var(--max-width));
  -ms-transform: translateX(var(--max-width));
  transform: translateX(var(--max-width));
  @apply right-0 left-auto;
}
.drawer_.drawer_open {
  visibility: visible;
}
.drawer_.drawer_open .drawer_content {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.drawer_ .drawer_content {
  -webkit-transform: translateX(var(--max--width));
  -ms-transform: translateX(var(--max--width));
  transform: translateX(var(--max--width));
  max-width: var(--max-width);
  @apply bg-white w-full absolute top-0 overflow-auto left-0 z-10 h-full transition-all;
}
.drawer_ .drawer_content .drawer_content_header {
  @apply py-3 border-b border-solid border-gray-100 px-5 flex items-center justify-between sticky top-0 bg-white;
}
.drawer_ .drawer_content .drawer_content_header .dch_title {
  @apply text-xl font-semibold text-default-700;
}
.drawer_ .drawer_content .drawer_content_body {
  @apply p-4;
}
.drawer_:after {
  content: "";
  z-index: 0;
  @apply bg-default-800/40 w-full h-full top-0 left-0 absolute;
}
.tabs_ {
  @apply inline-flex flex-col items-start;
}
.tabs_ .tab_list {
  @apply flex p-1 h-fit gap-2 items-center flex-nowrap overflow-x-scroll scrollbar-hide bg-default-200 rounded-large;
}
.tabs_ .tab_list.tl_center {
  @apply items-center justify-center mx-auto;
}
.tabs_ .tab_list.tl_white .tab_item {
  --btn-light-color: #fff;
}
.tabs_ .tab_list.tl_rounded_full {
  @apply rounded-full;
}
.tabs_ .tab_list.tl_rounded_full .tab_item {
  @apply btn_rounded_full;
}
.tabs_ .tab_list.tl_light {
  @apply bg-transparent;
}
.tabs_ .tab_list.tl_underlined {
  @apply bg-transparent;
}
.tabs_ .tab_list.tl_underlined .tab_item {
  @apply !bg-transparent border-b-2 border-solid border-transparent btn_rounded_none opacity-70;
}
.tabs_ .tab_list.tl_underlined .tab_item.active {
  color: var(--btn-light-color) !important;
  border-color: var(--btn-light-color);
  @apply opacity-100;
}
.tabs_ .tab_list.tl_primary {
  @apply bg-primary-500/20;
}
.tabs_ .tab_list.tl_primary .tab_item {
  @apply btn_primary;
}
.tabs_ .tab_list .tab_item {
  @apply btn_ btn_rounded_md;
}
.tabs_ .tab_list .tab_item:not(.active) {
  @apply btn_light;
}
.tabs_ .tab_content {
  @apply p-4;
}
.tabs_ .tab_content .tab_ {
  @apply hidden;
}
.tabs_ .tab_content .tab_.active {
  @apply block;
}
.bottom_sheet_ {
  --opacity-bg: 1;
  z-index: 99999;
  @apply fixed top-full h-dvh left-0 w-full transition-all;
}
.bottom_sheet_ .bs_content {
  @apply absolute z-20 h-12 left-0 bottom-0 w-full flex flex-col overflow-hidden bg-white rounded-t-xl shadow-small border-t border-solid border-default-100;
}
.bottom_sheet_ .bs_content .bs_header {
  @apply min-h-14 h-14 flex items-center justify-between shadow-small bg-white px-4 cursor-n-resize;
}
.bottom_sheet_ .bs_content .bs_header .bsh_title {
  @apply text-lg font-medium text-default-700 mb-0;
}
.bottom_sheet_ .bs_content .bs_header:before {
  position: absolute;
  content: "";
  display: block;
  width: 36px;
  height: 4px;
  top: calc(8px + env(safe-area-inset-top));
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.14);
}
.bottom_sheet_ .bs_content .bs_body {
  @apply p-4 overflow-auto flex-1 min-h-20;
}
.bottom_sheet_ .bs_content .bs_body .bsb_menu {
  @apply flex flex-col gap-2;
}
.bottom_sheet_ .bs_content .bs_body .bsb_menu li {
  @apply h-14 px-3 bg-default-200/40 rounded-xl flex items-center justify-between cursor-pointer;
}
.bottom_sheet_ .bs_content .bs_body .bsb_menu li.bsb_selected:after {
  @apply bg-primary-500 border-primary-400;
}
.bottom_sheet_ .bs_content .bs_body .bsb_menu li:after {
  content: "";
  @apply w-5 h-5 inline-block border border-default-400 border-solid rounded-full;
}
.bottom_sheet_.bottom_sheet_show {
  @apply top-auto;
}
.bottom_sheet_.bottom_sheet_open {
  @apply top-0;
}
.bottom_sheet_.bottom_sheet_open:after {
  @apply block;
}
.bottom_sheet_:after {
  content: "";
  opacity: var(--opacity-bg);
  @apply fixed top-0 left-0 h-full w-full bg-black/80 hidden;
}
@layer components {
  .card_ {
    @apply shadow-small p-4 rounded-large bg-white;
  }
  .card_gradiant_zinc {
    @apply bg-gradient-to-l to-transparent from-zinc-100;
  }
}
.Sa_delivery {
  @apply flex flex-col gap-5;
}
.Sa_delivery .Sad_item .Sad_title {
  @apply text-xl font-semibold;
}
.Sa_delivery .Sad_item .Sad_item_list {
  @apply grid grid-cols-2 gap-3 mt-2;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content {
  @apply flex gap-1 cursor-pointer card_ items-center;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content.Sadi_content_add svg {
  @apply text-primary-600;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content.Sadi_content_add span {
  @apply leading-6;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content .Sadi_input {
  @apply flex items-center h-5;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content .Sadi_input input {
  @apply w-5 h-5;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content .Sadi_label {
  @apply ms-2 text-sm;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content .Sadi_label span {
  @apply font-semibold text-gray-700;
}
.Sa_delivery .Sad_item .Sad_item_list .Sadi_content .Sadi_label p {
  @apply text-xs font-normal text-gray-500 line-clamp-1;
}
:root {
  --primary: #d9be5c;
  --max-mobile-width: 640px;
  --background: #fff;
  --foreground: #000;
  --divider: #dcdcdc;
  --overlay: #888;
  --header-height: 0px;
}
body {
  @apply overflow-y-scroll;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --divider: #333;
  }
}*/
.bg-background {
  background-color: var(--background);
}
.swiper.swiper-modal-thumbs {
  @apply h-full;
}
.swiper.swiper-modal-thumbs .swiper-slide {
  @apply w-full mx-auto;
}
.swiper.swiper-modal-thumbs .swiper-slide img {
  @apply w-full h-full object-contain mx-auto;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  @apply shadow-xl;
}
.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  --swiper-navigation-size: 20px;
  color: #000;
  font-weight: 900;
}
.swiper .swiper-button-disabled {
  display: none!important;
}
[data-slider-stories] .swiper-slide {
  max-width: 90px;
  @apply h-auto flex items-center justify-center;
}
[data-slider-stories] .swiper-button-next,
[data-slider-stories] .swiper-button-prev {
  width: 32px;
  height: 32px;
  @apply shadow;
}
[data-slider-stories] .swiper-button-next:after,
[data-slider-stories] .swiper-button-prev:after {
  --swiper-navigation-size: 16px;
}
[data-slider-products] .swiper-slide {
  width: 190px;
  @apply md:w-[300px] h-auto;
}
.swiper-small-thumbs {
  --swiper-navigation-size: 28px;
  @apply select-none;
}
.swiper-small-thumbs .swiper-button-next,
.swiper-small-thumbs .swiper-button-prev {
  width: 32px;
  height: 32px;
  @apply shadow;
}
.swiper-small-thumbs .swiper-button-next:after,
.swiper-small-thumbs .swiper-button-prev:after {
  --swiper-navigation-size: 16px;
}
body {
  font-size: 14px;
  --bs-border-color: var(--text-gray-300);
  line-height: 1.3;
  background: var(--background);
  color: var(--foreground);
}
html,
body {
  font-family: "Inter", sans-serif;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.b_tabs {
  @apply border rounded-xl overflow-hidden border-solid border-gray-200 dark:text-gray-400 dark:border-gray-700;
}
.b_tabs .nav {
  @apply flex flex-wrap -mb-px text-center text-sm font-medium mb-0;
}
.b_tabs .nav .nav-item {
  @apply mr-2;
}
.b_tabs .nav .nav-item .nav-link {
  @apply inline-block cursor-pointer px-4 py-3 border-b-2 !rounded-none text-gray-500 !border-transparent bg-transparent rounded-t-lg border-solid hover:text-gray-600 hover:!border-gray-100;
}
.b_tabs .nav .nav-item .nav-link.active {
  @apply !text-blue-600 !border-gray-100;
}
.b_tabs .tab-content {
  @apply p-4;
}
.alert_ {
  --btn-background: theme("colors.gray.100");
  --btn-hover-bg: theme("colors.gray.100");
  --btn-color: #222;
  background: var(--btn-background);
  color: var(--btn-color);
  @apply px-4 py-3 rounded-xl transition-all flex gap-2 items-center;
}
.alert_ .alert_text {
  @apply text-sm;
}
.alert_ .alert_icon {
  --ggs: 0.8;
}
.alert_.alert_xs {
  @apply px-3 py-2;
}
.alert_.alert_xs .alert_text {
  @apply text-xs;
}
.dropdown_ {
  @apply relative;
}
.dropdown_ .dropdown_trigger {
  @apply inline-block;
}
.dropdown_ .dropdown_trigger.dt-active .btn_ {
  --btn-background: theme("colors.gray.100");
}
.dropdown_ .dropdown_trigger.dt-active .btn_.btn_right_chevron:after {
  @apply rotate-180;
}
.dropdown_ .dropdown_content {
  @apply absolute hidden top-full left-0 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44;
}
.dropdown_ .dropdown_content .dc_items_list {
  @apply py-2 text-sm text-gray-700;
}
.dropdown_ .dropdown_content .dc_items_list .dc_item a {
  @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white;
}
.dropdown_ .dc-active {
  @apply block;
}
.badge_ {
  --badge-background: theme("colors.gray.200");
  --badge-hover-bg: theme("colors.gray.100");
  --badge-color: theme("colors.gray.800");
  background: var(--badge-background);
  color: var(--badge-color);
  @apply text-xs font-medium py-1 px-2 rounded;
}
.badge_.badge_rose {
  --badge-background: theme("colors.rose.200");
  --badge-color: theme("colors.rose.800");
}
.form_input_ {
  @apply flex flex-col gap-1 w-full;
}
.form_input_ label {
  @apply text-s text-gray-500 px-1 font-medium;
}
.input_ {
  --input-background: theme("colors.gray.50");
  --input-color: theme("colors.gray.900");
  --input-border-color: theme("colors.gray.300");
}
.input_:not([type='checkbox']):not([type='radio']) {
  background-color: var(--input-background);
  color: var(--input-color);
  border-color: var(--input-border-color);
  @apply border w-full text-sm rounded-lg focus-visible:outline-primary-500 focus:ring-primary-500 focus:border-primary-500 block p-2.5;
}
.input_:not([type='checkbox']):not([type='radio']).input_sm {
  @apply px-3 py-2 text-s;
}
.input_:not([type='checkbox']):not([type='radio']).input_xs {
  @apply px-2 py-1 text-xs rounded-lg;
}
.input_[type='checkbox'] {
  width: 1rem;
  height: 1rem;
  color: var(--input-color);
  vertical-align: middle;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  background-color: var(--input-background);
  transition: background 300ms;
  cursor: pointer;
  @apply rounded;
}
.input_[type='checkbox'].input_primary {
  --input-color: theme("colors.primary.500");
}
.input_[type='checkbox']:before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px var(--input-border-color);
}
.input_[type='checkbox']:checked {
  background-color: currentcolor;
}
.input_[type='checkbox']:checked:before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
.input_[type='radio'] {
  width: 1rem;
  height: 1rem;
  color: var(--input-color);
  vertical-align: middle;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  background-color: var(--input-background);
  transition: background 300ms;
  cursor: pointer;
  @apply rounded-full;
}
.input_[type='radio'].input_primary {
  --input-color: theme("colors.primary.500");
}
.input_[type='radio']:before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px var(--input-border-color);
}
.input_[type='radio']:checked {
  background-color: currentcolor;
}
.input_[type='radio']:checked:before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}
.textarea_ {
  --input-background: theme("colors.gray.50");
  --input-color: theme("colors.gray.900");
  --input-border-color: theme("colors.gray.300");
  background-color: var(--input-background);
  color: var(--input-color);
  border-color: var(--input-border-color);
  @apply border w-full text-sm rounded-lg resize-none focus-visible:outline-primary-500 focus:ring-primary-500 focus:border-primary-500 block p-2.5;
}
.textarea_.textarea_sm {
  @apply px-3 py-2 text-s;
}
.textarea_.textarea_xs {
  @apply px-2 py-1 text-xs rounded-lg;
}
.check_input_ {
  @apply flex items-center px-2 cursor-pointer rounded hover:bg-gray-100 dark:hover:bg-gray-600;
}
.check_input_ label {
  @apply w-full pl-2 py-1 text-s font-medium text-gray-900 rounded dark:text-gray-300 cursor-pointer;
}
.check_switch_ {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-primary: theme("colors.primary.500");
  @apply cursor-pointer;
}
.check_switch_ input[type='checkbox'] {
  @apply sr-only;
}
.check_switch_ input[type='checkbox']:checked + .cs_slider {
  background-color: var(--color-primary);
}
.check_switch_ input[type='checkbox']:checked + .cs_slider:after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}
.check_switch_ input[type='checkbox']:checked:active + .cs_slider:after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
.check_switch_ input[type='checkbox']:active + .cs_slider:after {
  width: var(--toggle-wider);
}
.check_switch_ .cs_slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}
.check_switch_ .cs_slider:after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}
.check_switch_.check_switch_filter {
  @apply flex justify-between items-center;
}
.check_switch_.check_switch_filter .cs_title {
  @apply text-sm font-medium;
}
.check_switch_.check_switch_sm {
  --button-width: 2.5em;
  --button-height: 1.5em;
  --toggle-diameter: 1em;
  --toggle-wider: 2em;
}
.btn-check:checked + .btn_ {
  @apply bg-primary-600 text-white border-transparent;
}
.collapse {
  visibility: unset !important;
}
[data-show=false] {
  display: none;
}
.product-rect-content {
  @apply bg-white border border-solid border-gray-100 px-4 py-6 rounded-xl flex flex-col items-center justify-center w-full h-full gap-1;
}
.product-rect-content.procut-rect-image {
  @apply !p-0 overflow-hidden w-full h-full;
}
.product-rect-content.procut-rect-image img {
  @apply w-full h-full object-cover;
}
.product-rect-content .prc-title {
  @apply text-xs md:text-sm text-center;
}
.product-rect-content .prc-title span {
  @apply line-clamp-2;
}
.product-rect-content .prc-image {
  @apply aspect-square my-2 md:my-4;
}
.product-rect-content .prc-image img {
  @apply w-full h-full object-contain;
}
.product-rect-content .prc-price {
  @apply flex flex-col items-center justify-center gap-3 w-full;
}
.product-rect-content .prc-price span {
  @apply md:text-xl text-primary-600 font-semibold;
}
@media (max-width: 768px) {
}
.product-rect-content:hover {
  @apply shadow-sm;
}
.link-href {
  @apply text-blue-500 font-medium hover:underline;
}
header {
  @apply border-b border-solid border-gray-100 px-3 bg-white relative;
}
header .h-content {
  @apply md:h-[64px] w-full max-w-6xl gap-3 mx-auto flex items-center justify-between py-2 md:py-0;
}
header .h-content .hc-logo {
  @apply flex items-center gap-2;
}
header .h-content .hc-logo .hcl-menu-item {
  @apply md:hidden flex items-center justify-center;
}
header .h-content .hc-logo .hcl-menu-item .hcl-menu-trigger {
  --ggs: 0.8;
  @apply text-gray-500;
}
header .h-content .hc-logo img {
  @apply h-8 md:h-12;
}
header .h-content .hc-search {
  @apply relative flex-1 max-w-2xl hidden md:block;
}
header .h-content .hc-right {
  @apply gap-3 items-center hidden md:flex;
}
header .h-content .hc-mobile-right {
  @apply block md:hidden space-x-1;
}
header .h-mobile-search {
  @apply block md:hidden;
}
header .h-menus {
  @apply max-w-6xl mx-auto relative md:overflow-visible overflow-x-auto overflow-y-hidden whitespace-nowrap md:whitespace-normal;
}
header .h-menus .h-menu-item {
  @apply border-b-2 cursor-default border-solid transition transition-colors px-2 border-transparent px-2 py-2 inline-block;
}
header .h-menus .h-menu-item .hm-title {
  @apply font-medium;
}
header .h-menus .h-menu-item .hm-hover-menu {
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
  @apply invisible absolute top-full left-0 max-w-6xl w-full p-3 rounded-b-xl bg-white grid grid-cols-5 shadow z-50;
}
header .h-menus .h-menu-item .hm-hover-menu h3 {
  @apply font-medium text-primary-500;
}
header .h-menus .h-menu-item .hm-hover-menu a {
  @apply text-sm inline-block;
}
header .h-menus .h-menu-item .hm-hover-menu a:hover {
  @apply underline;
}
header .h-menus .h-menu-item .hm-hover-menu .hmh-image-menus {
  @apply col-span-2;
}
header .h-menus .h-menu-item .hm-hover-menu .hmh-image-menus .hmhim-content {
  @apply grid grid-cols-2 gap-1 mt-2 items-center justify-center;
}
header .h-menus .h-menu-item .hm-hover-menu .hmh-image-menus .hmhim-content img {
  @apply rounded-xl object-contain w-full overflow-hidden;
}
header .h-menus .h-menu-item:hover {
  @apply border-primary-500;
}
header .h-menus .h-menu-item:hover .hm-title {
  @apply text-primary-500;
}
header .h-menus .h-menu-item:hover .hm-hover-menu {
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 100ms;
  @apply visible;
}
.herousel-content {
  @apply bg-gradient-to-r from-primary-600 to-primary-900 py-8;
}
.herousel-content .hc-wrapper {
  @apply max-w-6xl mx-auto px-2 md:px-0;
}
.herousel-content .hc-wrapper .hc-list-menu {
  @apply flex items-center justify-center gap-2 w-full;
}
.herousel-content .hc-wrapper .hc-list-menu li {
  @apply px-5 py-2 rounded-full cursor-pointer;
}
.herousel-content .hc-wrapper .hc-list-menu li span {
  @apply text-white;
}
.herousel-content .hc-wrapper .hc-list-menu li:hover {
  @apply bg-white/10;
}
.herousel-content .hc-wrapper .hc-list-menu li.active {
  @apply bg-white;
}
.herousel-content .hc-wrapper .hc-list-menu li.active span {
  @apply text-gray-900;
}
.herousel-content .hc-wrapper .hcw-content {
  @apply grid grid-cols-1 mt-4 rounded-2xl overflow-hidden bg-white md:grid-cols-3;
}
.herousel-content .hc-wrapper .hcw-content .hcwc-title {
  @apply bg-white flex px-12 pb-2 md:pb-0 justify-center flex-col order-2 text-center md:text-left md:order-1;
}
.herousel-content .hc-wrapper .hcw-content .hcwc-image {
  @apply col-span-2 w-full p-2 order-1 md:order-2;
}
.herousel-content .hc-wrapper .hcw-content .hcwc-image img {
  @apply object-cover w-full h-full rounded-xl;
}
.main {
  @apply mt-4 flex flex-col gap-4 px-3;
}
.main .m-stories {
  @apply w-full;
}
.main .m-stories .m-stories-item {
  @apply inline-flex flex-col text-s gap-1 items-center justify-center transition transition-colors font-medium;
}
.main .m-stories .m-stories-item img {
  @apply w-14 h-14 rounded-full;
}
.main .m-stories .m-stories-item:hover {
  @apply text-primary-500;
}
.main .m-shop-cart-list {
  @apply grid grid-cols-1 gap-3 md:grid-cols-3 sm:grid-cols-2;
}
.main .m-shop-cart-list .mscl-item {
  @apply rounded-xl overflow-hidden inline-flex flex-col;
}
.main .m-shop-cart-list .mscl-item .mscl-item-text {
  @apply flex bg-gray-800 text-white px-3 py-2 justify-between items-center transition transition-colors;
}
.main .m-shop-cart-list .mscl-item .mscl-item-text p {
  @apply font-medium text-m flex-1 line-clamp-1;
}
.main .m-shop-cart-list .mscl-item .mscl-item-text span {
  @apply text-xs invisible;
}
.main .m-shop-cart-list .mscl-item:hover .mscl-item-text {
  @apply bg-primary-500;
}
.main .m-shop-cart-list .mscl-item:hover .mscl-item-text span {
  @apply visible;
}
.main .ms-section {
  @apply bg-primary-500/10 rounded-xl p-3;
}
.main .ms-section .mss-header {
  @apply flex items-center justify-between pb-3 flex-col md:flex-row;
}
.main .ms-section .mss-header h1 {
  @apply text-xl font-semibold;
}
.main .ms-section .mss-header a {
  @apply text-sm font-medium;
}
.main .ms-section .mss-header a:hover {
  @apply underline;
}
.main .ms1-section .mss-header {
  @apply flex md:items-end gap-2 pb-3 flex-col md:flex-row;
}
.main .ms1-section .mss-header h1 {
  @apply text-xl md:text-2xl font-semibold;
}
.main .ms1-section .mss-header a {
  @apply text-sm font-medium text-primary-600;
}
.main .ms1-section .mss-header a:hover {
  @apply underline;
}
.main .m-shop-product-list {
  @apply grid grid-cols-2 gap-3 md:!grid-cols-3 lg:!grid-cols-4;
}
.main .m-shop-product-list .mspl-item {
  @apply bg-white overflow-hidden border border-solid border-gray-100 rounded-xl flex flex-col;
}
.main .m-shop-product-list .mspl-item .mspli-image {
  @apply h-full w-full;
  max-height: 200px;
}
.main .m-shop-product-list .mspl-item .mspli-image img {
  @apply object-contain w-full h-full pt-3;
}
.main .m-shop-product-list .mspl-item .mspli-main {
  @apply flex flex-col px-3 py-3 gap-1;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-title {
  height: 40px;
  @apply line-clamp-2 text-sm;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-title b {
  @apply uppercase;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-price {
  height: 20px;
  @apply text-primary-500 font-semibold text-m;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-lowest-price {
  height: 15px;
  @apply line-clamp-1;
}
.main .m-shop-product-list .mspl-item .mspli-main .mspli-lowest-price span {
  @apply flex line-clamp-1 h-full text-xs gap-2 text-red-600 font-medium;
}
.account-page {
  @apply flex gap-4 relative;
}
.account-page .ap-als-content {
  width: 220px;
  @apply hidden md:block;
}
.account-page .ap-als-content .ap-alsc-wrapper {
  top: var(--header-height);
  @apply sticky py-2;
}
.account-page .ap-content {
  @apply flex-1 py-2;
}
.account-page .ap-content .ap-title {
  @apply text-xl font-semibold leading-6 text-gray-700 inline-flex items-end gap-1;
}
.account-page .ap-content .apc-filters {
  @apply flex flex-wrap gap-3 my-3;
}
.account-page .ap-content .apc-coupon-page .apc-cp-lists {
  @apply flex flex-col gap-2 mt-3;
}
.account-page .ap-content .apc-coupon-page .apc-cp-lists .apc-cp-item {
  @apply bg-gradient-to-br from-purple-600 to-indigo-600 text-white text-center py-6 rounded-xl shadow-md relative;
}
.account-page .ap-content .apc-coupon-page .apc-cp-lists .apc-cp-item .apc-cp-item-image {
  @apply w-36 mx-auto mb-4 rounded-lg;
}
.account-page .ap-content .apc-coupon-page .apc-cp-lists .apc-cp-item .apc-cp-item-title {
  @apply text-lg md:text-2xl font-semibold mb-4;
}
.account-page .ap-content .apc-coupon-page .apc-cp-lists .apc-cp-item .apc-cp-item-coupon {
  @apply flex items-center justify-center space-x-2 mb-6;
}
.account-page .ap-content .apc-coupon-page .apc-cp-lists .apc-cp-item .apc-cp-item-coupon .apc-cp-item-coupon-code {
  @apply border-dashed border border-primary-400 text-white px-4 py-2 rounded-xl;
}
.account-page .ap-content .apc-setting-page .apc-sp-content {
  @apply border rounded-xl border-solid border-gray-200 flex flex-col md:flex-row mt-3;
}
.account-page .ap-content .apc-setting-page .apc-sp-content .apc-sp-infos-title {
  @apply text-lg font-medium text-primary-500;
}
.account-page .ap-content .apc-setting-page .apc-sp-content .apc-sp-user-infos {
  @apply flex-1 p-4 border-b md:border-b-0 md:border-r border-solid border-gray-200;
}
.account-page .ap-content .apc-setting-page .apc-sp-content .apc-sp-user-password {
  @apply flex-1 p-4;
}
.auth-page {
  @apply flex flex-col items-center justify-center mx-auto max-w-md w-full lg:py-0;
}
.auth-page .ap-content {
  @apply w-full bg-white rounded-lg shadow p-6;
}
.auth-page .ap-content .apc-logo {
  @apply flex items-center justify-center mb-6;
}
.auth-page .ap-content .apc-logo img {
  @apply w-40;
}
.my-account-page .my-ap-header {
  @apply bg-white py-2 flex items-center gap-2;
}
.my-account-page .my-ap-header .my-aph-texts h3 {
  @apply font-medium text-gray-600;
}
.my-account-page .my-ap-header .my-aph-texts span {
  @apply text-s text-gray-500;
}
.basket-page {
  @apply flex gap-4 relative;
}
.basket-page .bp-overlay {
  @apply hidden;
}
.basket-page.bp_mobile_box .bp-overlay {
  @apply fixed top-0 left-0 bg-black/50 w-full h-full block z-10 md:hidden;
}
@media (max-width: 768px) {
  .basket-page.bp_mobile_box .bp_summary_bill {
    @apply !opacity-100 !bottom-full;
  }
}
.basket-page.bp_mobile_box .bps_cat_icon {
  @apply !rotate-0;
}
.basket-page .bp-content {
  @apply flex-1;
}
.basket-page .bp-content .bpc-product-list {
  @apply rounded-xl py-0;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item {
  @apply flex gap-2 items-center py-5 border-b border-solid border-gray-100;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item .bpc-product-check-image {
  @apply flex gap-3 items-center;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item .bpc-product-check-image .bpc-product-image {
  @apply h-20 w-20 flex items-center justify-center md:h-24 md:w-24;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item .bpc-product-check-image .bpc-product-image img {
  @apply object-cover h-full border border-solid border-gray-200 rounded-xl;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item .bpc-product-infos {
  @apply flex-1 flex flex-col justify-between h-20 md:h-24;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item .bpc-product-infos .bpc-pi-right {
  @apply flex items-center gap-3;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item .bpc-product-infos .bpc-pi-price {
  @apply font-medium text-primary-500 tracking-tight text-base md:text-xl;
}
.basket-page .bp-content .bpc-product-list .bpc-product-list-item:last-child {
  @apply border-transparent;
}
.basket-page .bp-summary {
  @apply md:w-[220px] md:block;
}
@media (max-width: 768px) {
  .basket-page .bp-summary {
    @apply w-full left-0 fixed bottom-0 bg-white z-20;
  }
}
.basket-page .bp-summary .bps_content {
  top: var(--header-height);
  @apply sticky flex flex-col gap-3;
}
.basket-page .bp-summary .bps_content .bps_c_approve {
  @apply flex items-center gap-3 h-20 px-3 relative z-10;
}
.basket-page .bp-summary .bps_content .bps_c_approve .bps_ca_total {
  @apply flex items-center gap-1 md:hidden text-sm w-full;
}
.basket-page .bp-summary .bps_content .bps_c_approve .bps_ca_total .bps_cat_icon {
  @apply rotate-180;
}
.basket-page .bp-summary .bp_summary_bill {
  @apply border border-gray-200 border-solid rounded-xl p-3 flex flex-col gap-2;
}
@media (max-width: 768px) {
  .basket-page .bp-summary .bp_summary_bill {
    @apply absolute bottom-0 w-full bg-white rounded-none opacity-0 transition transition-all;
  }
}
.basket-page .bp-summary .bp_summary_bill li {
  @apply w-full text-xs flex justify-between;
}
.basket-page .bp-summary .bp_summary_bill li.bps_total {
  @apply border-t border-solid border-gray-200 pt-2;
}
.basket-page .bp-summary .bp_summary_bill li.bps_total .bps_value {
  @apply text-primary-500;
}
.basket-page .bp-summary .bp_summary_bill li .bps_title {
  @apply text-gray-500;
}
.basket-page .bp-summary .bp_summary_bill li .bps_value {
  @apply font-medium;
}
.category-page {
  @apply flex gap-4 relative flex-col md:flex-row;
}
.category-page .cp-mobile-filter {
  @apply flex flex-col md:hidden;
}
.category-page .cp-mobile-filter .cpmf-buttons {
  @apply flex gap-3;
}
.category-page .cp-filter {
  @apply md:w-[220px] h-full w-full;
}
.category-page .cp-filter .cpf-content {
  @apply border border-solid border-gray-100 h-full flex flex-col overflow-y-auto rounded-xl;
}
.category-page .cp-filter .cpf-content .cpf-title {
  @apply px-3 py-3 border-b border-solid border-gray-100;
}
.category-page .cp-filter .cpf-content .cpf-title span {
  @apply text-s text-gray-600;
}
.category-page .cp-filter .cpf-content .cpf-filters .cpf-item {
  @apply border-b border-solid border-gray-100 py-2 px-3;
}
.category-page .cp-filter .cpf-content .cpf-filters .cpf-item .cpfi-title {
  @apply text-s font-medium text-gray-700 inline-block mb-2;
}
.category-page .cp-filter .cpf-content .cpf-filters .cpf-item .cpf-price-range {
  @apply flex gap-2 items-center;
}
.category-page .cp-filter .cpf-content .cpf-filters .cpf-item .cpf-filter-item-lists {
  max-height: 300px;
  @apply overflow-y-auto;
}
.category-page .cp-content {
  @apply flex-1 py-2;
}
.product-page .pp-info-content {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-0;
}
.product-page .pp-info-content .ppi-images {
  @apply relative;
}
.product-page .pp-info-content .ppi-images .zoom-selector {
  cursor: crosshair;
  @apply absolute w-16 h-16 hidden rounded-lg bg-black/20 z-10;
}
.product-page .pp-info-content .ppi-images .ppi-zoom-image {
  @apply absolute hidden top-0 left-full max-w-[400px] w-full z-50 ml-3 rounded-xl bg-white border border-gray-100 border-solid overflow-hidden;
}
.product-page .pp-info-content .ppi-images .ppi-zoom-image img {
  @apply h-[350px] md:h-[500px] w-full object-contain absolute top-0 left-0 z-50 max-w-none;
}
.product-page .pp-info-content .ppi-images [data-swiper-small-thumbs] {
  @apply hidden md:block;
}
.product-page .pp-info-content .ppi-images [data-swiper-thumbs] {
  @apply border border-solid border-gray-100 rounded-xl select-none;
}
.product-page .pp-info-content .ppi-images [data-swiper-thumbs] .swiper-wrapper .swiper-slide img {
  @apply h-[350px] md:h-[500px] w-full object-contain;
}
.product-page .pp-info-content .ppi-images .ppi-small-images .ppi-si-item {
  @apply w-16 aspect-square border-2 cursor-pointer border-solid border-gray-100 rounded-xl overflow-hidden;
}
.product-page .pp-info-content .ppi-images .ppi-small-images .ppi-si-item.swiper-slide-thumb-active {
  @apply border-primary-400;
}
.product-page .pp-info-content .ppi-images .ppi-small-images .ppi-si-item img {
  @apply w-full h-full object-contain;
}
.product-page .pp-info-content .ppi-infos {
  @apply flex flex-col gap-3 md:px-4;
}
.product-page .pp-info-content .ppi-infos .ppi-title {
  @apply text-xl tracking-tight text-gray-600 font-medium;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating {
  @apply flex justify-between;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-price {
  @apply text-2xl md:text-3xl text-primary-500 font-semibold tracking-tight;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-price small {
  @apply text-base md:text-xl;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-stars {
  @apply flex flex-col items-end gap-1;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-stars .rating {
  font-size: 0.2em;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-stars .rating .star {
  width: 16px;
  height: 16px;
}
.product-page .pp-info-content .ppi-infos .ppi-price-rating .ppipr-stars a {
  @apply text-xs font-medium text-gray-400 hover:text-blue-500;
}
.product-page .pp-info-content .ppi-infos .ppi-df-title {
  @apply text-sm font-semibold text-gray-600;
}
.product-page .pp-info-content .ppi-infos .ppi-filter-colors .ppi-fc-list {
  @apply flex gap-2 mt-2;
}
.product-page .pp-info-content .ppi-infos .ppi-filter-colors .ppi-fc-list li a {
  aspect-ratio: 9/16;
  @apply w-12 bg-white cursor-pointer flex border-2 border-solid border-gray-100 items-center justify-center rounded-xl overflow-hidden;
}
.product-page .pp-info-content .ppi-infos .ppi-filter-colors .ppi-fc-list li a.active {
  @apply border-primary-500;
}
.product-page .pp-info-content .ppi-infos .ppi-basket-favorite {
  @apply flex gap-3;
}
.checkout-page {
  @apply flex md:flex-row flex-col max-w-6xl mx-auto relative;
}
.checkout-page .cp-overlay {
  @apply hidden;
}
@media (max-width: 768px) {
  .checkout-page.cp_mobile_box .cpm_cat_icon {
    @apply !rotate-0;
  }
  .checkout-page.cp_mobile_box .cp-delivery {
    @apply !hidden;
  }
}
@media (max-width: 768px) {
  .checkout-page.cp_mobile_box .cp-order-summary {
    @apply !opacity-100 !bottom-0 z-20 !flex;
  }
}
.checkout-page.cp_mobile_box .cp-overlay {
  @apply fixed top-0 left-0 bg-black/50 w-full h-full block z-10 md:hidden;
}
.checkout-page .cp-delivery {
  @apply flex-1 pb-24 md:pb-0 md:h-screen flex flex-col items-center overflow-auto;
}
.checkout-page .cp-delivery .cpd-content {
  @apply w-full md:py-5 md:px-12;
}
.checkout-page .cp-delivery .cpd-logo {
  @apply w-full;
}
.checkout-page .cp-delivery .cpd-logo .cpd-logo-content {
  @apply flex justify-between items-center flex-col-reverse md:flex-row bg-white md:h-32 py-6 md:py-0 mb-3;
}
.checkout-page .cp-delivery .cpd-logo .cpd-logo-content .cpd-logo-link {
  @apply block h-16;
}
.checkout-page .cp-delivery .cpd-form {
  @apply w-full max-w-2xl px-3 md:px-0;
}
.checkout-page .cp-delivery .cpd-form .tabs_ {
  @apply w-full;
}
.checkout-page .cp-delivery .cpd-form .tabs_ .tab_content {
  @apply w-full px-0 py-6;
}
.checkout-page .cp-delivery .cpd-title {
  @apply text-gray-700 font-medium mb-2;
}
.checkout-page .cp-mobile-summary {
  @apply fixed bottom-0 left-0 h-20 w-full bg-white border-t border-solid border-gray-100 z-50 md:hidden;
}
.checkout-page .cp-mobile-summary .cpm_c_approve {
  @apply flex items-center gap-3 h-20 px-3 relative z-10;
}
.checkout-page .cp-mobile-summary .cpm_c_approve .cpm_ca_total {
  @apply flex items-center gap-1 md:hidden text-sm w-full;
}
.checkout-page .cp-mobile-summary .cpm_c_approve .cpm_ca_total .cpm_cat_icon {
  @apply rotate-180;
}
.checkout-page .cp-order-summary {
  @apply w-full md:w-[300px] lg:w-[350px] md:h-[calc(100vh-2rem)] h-screen sticky md:top-4  pb-20 md:pb-0 opacity-0 md:opacity-100 transition-all;
}
.checkout-page .cp-order-summary .cpos_content {
  @apply rounded-t-large rounded-b-none md:rounded-b-large card_ p-0 h-full w-full flex flex-col;
}
.checkout-page .cp-order-summary .cp-os-total {
  @apply py-2 md:py-5 text-center flex  flex-col md:gap-3 border-b border-gray-200 border-solid w-full;
}
.checkout-page .cp-order-summary .cp-os-total h3 {
  @apply font-medium md:text-lg text-gray-600;
}
.checkout-page .cp-order-summary .cp-os-total h1 {
  @apply text-xl md:text-4xl font-bold text-emerald-500;
}
.checkout-page .cp-order-summary .cp-os-total span {
  @apply text-s text-gray-500 hidden md:block;
}
.checkout-page .cp-order-summary .cp-os-summary {
  @apply flex flex-col flex-1 overflow-auto;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-title {
  @apply text-m text-gray-600 font-medium px-3 py-2;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product {
  @apply flex flex-col gap-1 mt-1 px-3 border-t border-solid border-default-200 py-3;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product.cp-oss-list {
  @apply mt-0 flex-1 overflow-auto;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product.cp-oss-list .cp-oss-left span {
  @apply !text-xs;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item {
  @apply flex justify-between items-center card_ p-3;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item.cp-oss-item-total {
  @apply bg-transparent;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item.cp-oss-item-total .cp-oss-left span {
  @apply font-semibold text-sm text-gray-900;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item.cp-oss-item-total .cp-oos-item-amount {
  @apply text-gray-900 text-sm;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item .cp-oss-left {
  @apply flex flex-col;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item .cp-oss-left h2 {
  @apply font-medium text-m text-gray-900 gap-1 line-clamp-1;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item .cp-oss-left span {
  @apply text-sm text-gray-500 line-clamp-1;
}
.checkout-page .cp-order-summary .cp-os-summary .cp-oss-product .cp-oos-item .cp-oos-item-amount {
  @apply text-s text-gray-500 font-medium;
}
.order-result-page {
  @apply card_;
}
.order-result-page .orp-message {
  @apply flex flex-col text-center items-center justify-center border-b border-solid border-gray-100 pb-5 mb-5;
}
.order-result-page .orp-infos {
  @apply flex gap-4 border-b border-solid border-gray-100 pb-5 mb-5;
}
.order-result-page .orp-infos .orp-i-item {
  @apply flex flex-col w-full;
}
.order-result-page .orp-infos .orp-i-item h4 {
  @apply uppercase text-gray-400 font-semibold text-xs mb-3;
}
.order-result-page .orp-infos .orp-i-item span {
  @apply text-sm text-gray-800;
}
.op-lists .opl-item {
  @apply border border-solid border-gray-200 rounded-xl overflow-hidden;
}
.op-lists .opl-item.opl-item-not .opl-item-header .oplh-item {
  @apply w-auto;
}
.op-lists .opl-item.opl-item-not .opl-item-header .oplh-item.oplh-i-hd {
  @apply !flex;
}
.op-lists .opl-item .opl-item-header {
  @apply bg-gray-100 px-3 py-2 flex items-center gap-2;
}
.op-lists .opl-item .opl-item-header .oplh-item {
  gap: 0.15rem;
  @apply flex-col w-full;
}
.op-lists .opl-item .opl-item-header .oplh-item:not(.oplh-i-hd) {
  @apply flex;
}
.op-lists .opl-item .opl-item-header .oplh-item.oplh-i-hd {
  @apply hidden md:flex;
}
.op-lists .opl-item .opl-item-header .oplh-item span {
  @apply text-xs text-gray-500 font-medium;
}
.op-lists .opl-item .opl-item-header .oplh-item b {
  @apply text-xs font-medium text-zinc-800;
}
.op-lists .opl-item .opl-item-main {
  @apply p-2;
}
.op-lists .opl-item .opl-item-main .opli-product-lists {
  @apply flex flex-col gap-3;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item {
  @apply border border-solid border-gray-200 rounded-xl p-4 flex justify-between items-center;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-infos {
  @apply flex items-center sm:flex-row gap-2;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-infos .opli-pi-images {
  width: 40px;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-infos .opli-pi-images img {
  @apply w-10 h-10 border-2 border-solid border-gray-100 rounded-full object-cover;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-infos .opli-pi-product {
  @apply flex flex-col gap-1 flex-1 text-xs;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-infos .opli-pi-product .opli-pip-title {
  @apply text-gray-500 hover:underline line-clamp-1;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-infos .opli-pi-product .opli-pip-alt {
  @apply text-emerald-500 flex md:items-center gap-1 flex-col sm:flex-row;
}
.op-lists .opl-item .opl-item-main .opli-product-lists .opli-product-item .opli-pi-price {
  @apply flex flex-col text-right;
}
.d-breadcrumb {
  @apply flex;
}
.d-breadcrumb .dbc-list {
  @apply inline-flex items-center;
}
.d-breadcrumb .dbc-list .dbc-item {
  @apply inline-flex items-center;
}
.d-breadcrumb .dbc-list .dbc-item[aria-current='page'] .dbc-item-text {
  @apply font-semibold;
}
.d-breadcrumb .dbc-list .dbc-item .dbc-item-content {
  @apply flex items-center;
}
.d-breadcrumb .dbc-list .dbc-item .dbc-item-content i {
  @apply text-gray-500;
}
.d-breadcrumb .dbc-list .dbc-item a {
  @apply hover:text-blue-600;
}
.d-breadcrumb .dbc-list .dbc-item .dbc-item-text {
  @apply inline-flex items-center text-s font-medium text-gray-600;
}
.star-yellow {
  background-image: url('data:image/svg+xml, <svg fill="%23facc14" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}
.rating {
  direction: rtl;
  font-size: 0.5em;
  text-align: left;
}
.rating.rating_sm {
  font-size: 0.2em;
}
.rating.rating_sm .star {
  width: 16px;
  height: 16px;
}
.rating .star {
  background-image: url('data:image/svg+xml, <svg fill="gray" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.rating .star:hover {
  background-image: url('data:image/svg+xml, <svg fill="goldenrod" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
}
.rating .star:hover,
.rating .star:hover ~ .star,
.rating .star.selected,
.rating .star.selected ~ .star {
  background-image: url('data:image/svg+xml, <svg fill="%23facc14" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg"><path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/></svg>');
}
footer {
  @apply bg-gray-800 text-white border-t border-solid border-gray-100 mt-3;
}
footer .f-content {
  @apply px-3 md:px-0;
}
footer .f-content .fc-wrapper {
  @apply grid grid-cols-1 px-3 sm:grid-cols-2 gap-8 max-w-6xl mx-auto  py-6 lg:py-8 md:!grid-cols-4 text-center md:text-left;
}
footer .f-content .fc-wrapper .fcw-item img {
  @apply mx-auto md:mx-0;
}
.slide-menu {
  position: fixed;
  -webkit-transform: translateX(-315px);
  -ms-transform: translateX(-315px);
  transform: translateX(-315px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  background: #fff;
  top: 0;
  bottom: 0;
  color: #333;
  z-index: 9999;
  width: 280px;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.25);
}
.slide-menu.slide-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  z-index: 99999;
}
.slider-overlay {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
}
.slide-left ~ .slider-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}
@layer components {
  .v-card {
    @apply shadow-sm border border-solid border-default-100 bg-white p-5;
  }
  .ppi-bf-piece {
    @apply flex items-center rounded-xl py-0.5 bg-primary-400/20;
  }
  .ppi-bf-piece input {
    @apply bg-primary-400/20 w-9 h-full text-primary-600 text-center outline-none rounded text-sm font-medium;
  }
  .ppi-bf-piece button {
    @apply w-6 h-full text-primary-600;
  }
}
/*# sourceMappingURL=tailwind.css.map */