<a href="#" class="mspl-item">
    <div class="mspli-image">
        <img src="https://fakeimg.pl/300x200/003228/fff/?retina=1&text=Ürün" alt="">
    </div>
    <div class="mspli-main">
        <div class="mspli-title">
            <b>Marka Adı</b>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias autem dolore dolorem, dolores earum, esse ipsam minima molestiae, officiis quidem sequi similique tenetur. Consequuntur culpa dolores eaque iste quo!</span>
        </div>
        <div class="mspli-lowest-price">
            <span><i class="gg-trending-down"  style="--ggs:.7;"></i> Son 7 Günün En Düşük Fiyatı</span>
        </div>
        <div class="mspli-price">
            <span>199,99 TL</span>
        </div>

    </div>
</a>
<a href="#" class="mspl-item">
    <div class="mspli-image">
        <img src="https://fakeimg.pl/300x200/003228/fff/?retina=1&text=Ürün" alt="">
    </div>
    <div class="mspli-main">
        <div class="mspli-title">
            <b>Marka Adı </b>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias autem dolore dolorem, dolores earum, esse ipsam minima molestiae, officiis quidem sequi similique tenetur. Consequuntur culpa dolores eaque iste quo!</span>
        </div>
        <div class="mspli-lowest-price">
        </div>
        <div class="mspli-price">
            <span>199,99 TL</span>
        </div>

    </div>
</a>
