<li class="opl-item">
    <div class="opl-item-header">
        <div class="oplh-item">
            <span>Sipariş Tarihi</span>
            <b>9 Mayıs 2022 - 15:18</b>
        </div>
        <div class="oplh-item oplh-i-hd">
            <span>Sipariş Özeti</span>
            <b>2 Teslimat, 2 Ürün</b>
        </div>
        <div class="oplh-item oplh-i-hd ">
            <span>Alıcı</span>
            <b>Üye Adı</b>
        </div>
        <div class="oplh-item">
            <span>Tutar</span>
            <b class="!text-primary-500">213.99 TL</b>
        </div>
        <button class="btn_ btn_full btn_primary btn_sm ">Detaylar</button>
    </div>
    <div class="opl-item-main">
        <ul class="opli-product-lists">
            @@include('orders-item.html')
            @@include('orders-item.html')
        </ul>
    </div>
</li>
