<li class="opli-product-item">
  <div class="opli-pi-infos">
    <div class="opli-pi-images">
      <img alt=""
           src="/images/product-1.jpeg">
    </div>
    <div class="flex flex-col gap-1 flex-1 text-xs">

      <a href="/pages/product.html" class="text-gray-500 hover:underline">Ürün Adı</a>
      <div class="text-emerald-500 flex items-center gap-1">
        <span class="w-4 h-4">@@include('../../assets/icons/tick.svg')</span>
        Teslim Edildi
        <span class="text-gray-500 pl-1 text-xxs">7 Ekim Cts, 13:19</span>
      </div>
    </div>
  </div>
  <div class="opli-pi-price">
    <span class="text-lg font-semibold text-primary-500">329,99 TL</span>
    <span class="text-s text-gray-500">Kredi Kartı</span>
  </div>
</li>
