<div class="hm-hover-menu">
    <div class="">
        <h3>Promosyon ürünler</h3>
        <ul class="flex flex-col gap-1 mt-2">
            <li><a href="/pages/category.html">Pantolon</a></li>
            <li><a href="/pages/category.html">Şort</a></li>
        </ul>
    </div>
    <div class="">
        <h3>Hediyelik ürünler</h3>
        <ul class="flex flex-col gap-1 mt-2">
            <li><a href="/pages/category.html">Günlük Ayakkabı</a></li>
            <li><a href="/pages/category.html">Klasik Ayakkabı</a></li>
        </ul>
    </div>
    <div class="">
        <h3>Kurumsal ürünler</h3>
        <ul class="flex flex-col gap-1 mt-2">
            <li><a href="/pages/category.html">Parfüm</a></li>
            <li><a href="/pages/category.html">Krem</a></li>
        </ul>
    </div>
    <div class="col-span-2 hmh-image-menus">
        <div class="hmhim-content">
            <a href="/pages/category.html"><img src="/images/category-1.webp" alt=""></a>
            <a href="/pages/category.html"><img src="/images/category-1.webp" alt=""></a>
            <a href="/pages/category.html"><img src="/images/category-1.webp" alt=""></a>
            <a href="/pages/category.html"><img src="/images/category-1.webp" alt=""></a>
        </div>
    </div>
</div>
