<nav class=" d-breadcrumb"  aria-label="Breadcrumb">
  <ol class="dbc-list">
    <li class="dbc-item">
      <a href="#" class="dbc-item-text">
        Anasayfa
      </a>
    </li>
    <li class="dbc-item">
      <div class="dbc-item-content">
        <i class="gg-chevron-right" style="--ggs: .7;"> </i>
        <a href="#" class="dbc-item-text">
          Kategori
        </a>
      </div>
    </li>
    <li aria-current="page" class="dbc-item">
      <div class="dbc-item-content">
        <i class="gg-chevron-right" style="--ggs: .7;"> </i>
        <span href="#" class="dbc-item-text">
          Parfüm
        </span>
      </div>
    </li>
  </ol>
</nav>
