<div class="w-full ppi-images">
    <div class="ppi-zoom-image">
        <img src="https://swiperjs.com/demos/images/nature-1.jpg"/>
    </div>
    <div class="swiper swiper-thumbs swiper-thumbs-zooms" data-swiper-thumbs>
        <div class="zoom-selector"></div>
        @@include("../swiper-wrapper/index.html")
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <button class="btn_ mt-2" data-bs-target="#productImageGallery" data-bs-toggle="modal">
        <i class="gg-image mr-2"></i>
        Büyük Fotoğraf
    </button>
    <div class="swiper mt-2 swiper-small-thumbs" data-swiper-small-thumbs thumbsSlider="">
        @@include("../swiper-wrapper/small-index.html")
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>



