<a href="/pages/product.html" class="product-rect-content">

    <div class="prc-title">
        <span>Kişiye özel Kupa Bardak baskı hizmeti Joly Dijital, dijital baskı çözümleri, reklam ve promosyon</span>
    </div>
    <div class="prc-image">
        <img src="/images/product1.jpg" alt="">
    </div>
    <div class="flex items-center leading-3 justify-center mb-1">

        <span class="font-medium mr-2">4.7</span>
        <input class="rating_val " name="rating" type="hidden"/>
        <div class="rating rating_sm" data-input-class=".rating_val">
            <span class="star " data-rating="5"></span>
            <span class="star" data-rating="4"></span>
            <span class="star selected" data-rating="3"></span>
            <span class="star" data-rating="2"></span>
            <span class="star" data-rating="1"></span>
        </div>
    </div>
    <div class="prc-price">
        <span>199,99 TL</span>
        <button class="btn_ btn_full btn_primary">Sepete Ekle</button>
    </div>
</a>
