<a href="/pages/product.html" class="product-rect-content">

    <div class="prc-title">
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias autem dolore dolorem, dolores earum, esse ipsam minima molestiae, officiis quidem sequi similique tenetur. Consequuntur culpa dolores eaque iste quo!</span>
    </div>
    <div class="prc-image">
        <img src="/images/product-1.jpeg" alt="">
    </div>
    <div class="prc-price">
        <span>199,99 TL</span>
        <button class="btn_ btn_primary">Sepete Ekle</button>
    </div>
</a>
