<div class="swiper" data-slider-products>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#" class="product-rect-content product-rect-image">
                <img src="https://images.hepsiburada.net/banners/s/0/224-371/homepageImage2177_20231031174304.png/format:webp" alt="">
            </a>
        </div>
        <div class="swiper-slide">@@include('../../menus/shop-product-cart-2/index.html')</div>
        <div class="swiper-slide">@@include('../../menus/shop-product-cart-2/index.html')</div>
        <div class="swiper-slide">@@include('../../menus/shop-product-cart-2/index.html')</div>
        <div class="swiper-slide">@@include('../../menus/shop-product-cart-2/index.html')</div>
        <div class="swiper-slide">@@include('../../menus/shop-product-cart-2/index.html')</div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
